@model List<VacationRequest>
<!DOCTYPE html>
<html>
<head>
    <title>Vacation List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Vacation List</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vacation in Model)
                {
                    <tr>
                        <td>@vacation.StartDate</td>
                        <td>@vacation.EndDate</td>
                        <td>@vacation.Comment</td>
                        <td>
                            <a asp-controller="Employees" asp-action="Add" asp-route-VacationRequestId="@vacation.VacationRequestId" class="btn btn-primary">Add</a>
                            <a asp-controller="Employees" asp-action="Delete" asp-route-VacationRequestId="@vacation.VacationRequestId" class="btn btn-primary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
